.container {
    position: relative;
    
    margin-top: 49px;
    z-index: 0;
    margin: 10%;
    /* margin-left: 10%;
    margin-right: 10%; */
    /* border:1px solid red; */
    /* height:80%; */
    color: white;
  }
  .title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    /* text-transform: uppercase; */
    margin-bottom: 20px;
  }
  .git{
    width:100%;
   display: flex;
   justify-content: center;
   align-items: center;
   /* border:1px solid red; */
  }
  .git img{
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   /* border:1px solid red; */
  }